## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# cocos2d/
ios-build/bin
ios-build/build
ios-build/lib
ios-build/engine
ios-build/Debug-iphonesimulator
ios-build/DownHiller2.build
ios-build/CMakeScripts
ios-build/CMakeFiles
*/.DS_Store

